.cardd {
    width: 300px;
    height: 400px;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .cardd:before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #faaf6a, #e9b585);
    transform: rotate(-45deg);
    transition: all 0.3s ease;
    z-index: -1;
  }
  
  .cardd:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  
  .cardd:hover:before {
    top: 0;
    left: 0;
  }
  
  .cardd-content {
    padding: 20px;
    text-align: center;
  }
  
  .cardtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
  }
  
  .carddescription {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .cardbutton {
    padding: 10px 20px;
    background-color: #585aa5;
    color: #FFF;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cardbutton:hover {
    background-color: #05076e;
  }
  